<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.NoticeMapper">
	 <select id="getNoticeList" resultType="NoticeDTO">
 	SELECT * FROM notice
 </select>
 
 <insert id="insertNotice" parameterType="NoticeDTO">
 	INSERT INTO notice(title,content) values(#{title},#{content})
 </insert>
<select id="getNoticeDetail" parameterType="NoticeDTO" resultType="NoticeDTO">
	SELECT * FROM notice
	WHERE noticeno = #{noticeno}  
</select>
</mapper>

